Emails Failing - Not sure if a Pommo issue or Embarq / Centurylink issue

I am going to attach the error messages I am getting when sending emails to Embarq/Centurylink customers using Pommo.

Any ideas?

Thanks,

Wayne

Error Message:
This message was created automatically by the mail system (ecelerity).

A message that you sent could not be delivered to one or more of its recipients. This is a permanent error. The following address(es) failed:

> > > awall310@embarqmail.com (reading confirmation): 550 5.6.0 Lone CR or 
> > > LF in headers (see RFC2822 section 2.2)

Additional Details.txt file with error:

Arrival-Date: Fri, 30 Aug 2013 16:03:41 -0400
Reporting-MTA: dns; smtp.embarq.synacor.com

Remote-MTA: dns; 205.219.233.5
Diagnostic-Code: smtp; 550 5.6.0 Lone CR or LF in headers (see RFC2822 section 2.2)
Action: failed
Final-Recipient: rfc822; awall310@embarqmail.com
Last-Attempt-Date: Fri, 30 Aug 2013 16:03:41 -0400
Status: 5.6.0

Att00693.txt file with error:

------ This is a copy of the headers of the original message. ------

Return-Path: webmaster@swfsa.org
x-binding: migrated_binding
X_CMAE_Category: 0,0 Undefined,Undefined
X-CNFS-Analysis: v=2.1 cv=PZ/G2ERd c=1 sm=0 tr=0 a=/hQIGTMXOaGTDRiYlae5NA==:117 a=n1Ds2UWoBb4A:10 a=omm146ka_zQA:10 a=WSrlPDgNAAAA:8 a=TZb1taSUAAAA:8 a=moLs7CQbb5UA:10 a=C_IRinGWAAAA:8 a=pGLkceISAAAA:8 a=BhwL0AL-MP4FSn4mYn4A:9 a=_yuJIu2tYLAA:10 a=tt9gVFp0804A:10 a=si9q_4b84H0A:10 a=MSl-tDqOz04A:10 a=SdWtGQXIvSxjRdPuuMwA:9 a=KQqxNPgzF0kA:10
X-CM-Score: 0
X-Scanned-by: Cloudmark Authority Engine
Authentication-Results: spam04.embarq.synacor.com smtp.mail=webmaster@swfsa.org; spf=neutral
Received-SPF: neutral (spam04.embarq.synacor.com: 208.109.80.74 is neither permitted nor denied by domain of swfsa.org)
Received: from [208.109.80.74]([208.109.80.74:47177] helo=p3smtphosting04.prod.phx3.secureserver.net)
    by smtp.embarq.synacor.com (envelope-from webmaster@swfsa.org)
    (ecelerity 2.2.3.49 r(42060/42061)) with ESMTP
    id 82/6A-10075-B9AF0225; Fri, 30 Aug 2013 16:03:40 -0400
Received: from p3swh212 ([72.167.131.49])
    by p3smtphosting04.prod.phx3.secureserver.net with 
    id K83f1m00A145tDk0183fFd; Fri, 30 Aug 2013 13:03:39 -0700
Subject: SWFSA Lost and Found
To: awall310@embarqmail.com
Date: Fri, 30 Aug 2013 13:03:39 -0700
From: SWFSA Email webmaster@swfsa.org
Message-ID: a745def7171dd82675a1cd214c67faa0@swfsa.org
X-Priority: 3
X-Mailer: PHPMailer 5.1 (phpmailer.sourceforge.net)
MIME-Version: 1.0
Content-Type: multipart/mixed;
    boundary="b1_a745def7171dd82675a1cd214c67faa0"


Hey @songsearcher,

Thisi seems to be an error message from their MTA. Have you tried sending an e-mail directly to the e-mail address to see if you get the same error?

Regards,
Adrian


Hi Adrian,

The email was sent to a distribution list of about 400 people.  All the email domains worked properly except the CenturyLink/Embraq ones.  These by the way are the same company.

I took the same email and attachment picture and sent it via Outlook to the CenturyLink/Embarq customers and it went fine.   That is why I submitted it for review.  

I Googled the error message but could not make sense of it.

Any thoughts,

SongSearcher

From: Adrian Ancona Novelo [mailto:notifications@github.com] 
Sent: Sunday, September 01, 2013 12:52 PM
To: soonick/poMMo
Cc: songsearcher
Subject: Re: [poMMo] Emails Failing - Not sure if a Pommo issue or Embarq / Centurylink issue (#170)

Hey @songsearcher https://github.com/songsearcher ,

Thisi seems to be an error message from their MTA. Have you tried sending an e-mail directly to the e-mail address to see if you get the same error?

Regards,
Adrian

—
Reply to this email directly or view it on GitHub https://github.com/soonick/poMMo/issues/170#issuecomment-23628512 .  https://github.com/notifications/beacon/loUGOPxQ2FJ8bEGc7SPpiPF9Fytl62mqzKKqy0qqM1iwZE5iBx9AyD0Hnvxz03TA.gif 


Hey @songsearcher,

Since this only happens when using pommo it may be that something in our default headers is not compatible with that MTA.

Diagnostic-Code: smtp; 550 5.6.0 Lone CR or LF in headers (see RFC2822 section 2.2)

This line makes me thing that is related to the type of line break we use, but I won't be able to take a look right now. I will leave the issue open in case someone else knows how to fix this.

Regards,
Adrian


To see in which header the problem is located, you could send a testmail to yourself and open the actual header information. @soonick where is the header created? In phpmailer using their classes or does poMMo creates its own header information?


Hello @mrdemc,

I don't think we add any special headers for poMMo, we use whatever phpmailer generates.


Hi poMMo team,

I currently host my poMMo code on a GoDaddy Shared Server.   

I do not believe my messaging issues are related to poMMo, I think the issue is with my Hosting ISP.  

I have spent  considerable time trying to resolve this with no success.   

Thanks

Wayne Franklin

From: Adrian Ancona Novelo [mailto:notifications@github.com] 
Sent: Sunday, November 10, 2013 10:30 PM
To: soonick/poMMo
Cc: songsearcher
Subject: Re: [poMMo] Emails Failing - Not sure if a Pommo issue or Embarq / Centurylink issue (#170)

Hello @mrdemc https://github.com/mrdemc ,

I don't think we add any special headers for poMMo, we use whatever phpmailer generates.

—
Reply to this email directly or view it on GitHub https://github.com/soonick/poMMo/issues/170#issuecomment-28171468 .  https://github.com/notifications/beacon/loUGOPxQ2FJ8bEGc7SPpiPF9Fytl62mqzKKqy0qqM1iwZE5iBx9AyD0Hnvxz03TA.gif 


Thanks for letting us know @songsearcher 
